.companylandingpagebackground{
    width:100%;
    overflow: hidden;
}

.companyHeaderHead{
    padding-left: 10%;
    padding-top: 35%;
    color:#FF9900;
    font-size:24px;
    font-family: "HelveticaNowDisplay-Bold";
}

.companyHeadingText{
    padding-left: 10%;
    font-size:18px;
    font-family: 'HelveticaNowDisplay-Bold';
    background: linear-gradient(to right, #ffffff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.companyDescriptionText{
    padding-left: 10%;
    font-size:24px;
    font-family: 'HelveticaNowDisplay-Regular';
    color:#ffffff;
}

.compline {
    width: 90%;
    border: none; /* Remove default border */
    height: 2px; /* Set the thickness of the line */
    background-color: #FF9900; /* Set the color to white */
    margin-top:25px; /* Add spacing above and below */
    margin-bottom:20px; /* Add spacing above and below */
    margin-left:10%;
    opacity: 1;
}
