.ideaspagebackground{
    width:100%;
    overflow: hidden;
}

.ideaspageimg{
    margin-top:20%;
    margin-bottom:10%;
}

.ideaspagetxt{
    margin-bottom: 10%;
    color:white;
    font-family: 'HelveticaNowDisplay-Regular';   
}

@media only screen and (max-width: 572px){
    .ideaspageimg{
        width:70%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .ideaspagetxt{
        margin-top: 40px;
        margin-right: 10%;
        margin-left: 10%;
    }
}