.ideasdescriptionpagebackground{
    width:100%;
    overflow: hidden;
}

.ideasdescriptionHead{
    margin-top:5%;
    margin-bottom:5%;
    color:#FF9900;
    font-size:24px;
    font-family: "HelveticaNowDisplay-Bold";
}

.ideasdescriptionText{
    color:white;
    font-size:24px;
    font-family: "HelveticaNowDisplay-Regular";
}

@media only screen and (max-width: 768px){
    .ideasdescriptionText{
        color:white;
        font-size:18px;
        font-family: "HelveticaNowDisplay-Regular";
        margin-left: 10%;
        margin-right:5%;
    }
    .ideasdescriptionHead{
        margin-left:5%;
    }
}