/* Navbar Container */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    height:auto;
    background-color: black;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    position: relative;
  }
    
  .navbar-logo {
    color: white;
    padding-left: 4%;
    padding-top:4px;
  }
  
  .navbar-logo{
    display: flex;
    align-items: center;
  }
  
  .navbar-logo p{
    font-family: 'HelveticaNowDisplay-Bold';
    padding: 10px;
  }
  
  .navbar-logo p span{
    padding:2px
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-top: 16px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ddd;
  }
  
  .other-button{    
    background: rgba(0, 0, 0, 0);
    font-family: 'HelveticaNowDisplay-Regular';
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 2px;
    color:white;
  }
  
  /* Navbar Contact Us button */
  .contact-us{
    font-family: 'HelveticaNowDisplay-Regular';
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FF9900;
    color:black;
    margin-right:20px;
    margin-top:30px;
  }
  
  .navbar-toggler{
    display: none;
  }
  
  .other-button:hover{
    padding-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: #FF9900;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
    }
  
    .navbar-links li a {
      width:100%;
    }
  
    .navbar-links.show {
      display: flex;
      gap: 16px;
      padding-top: 16px;
    }
  
    .navbar-toggler {
      display: block;
      color:white;
      border: 0;
    }
  }
  