.teampagebackground{
    /* height:1300px; */
    width:100%;
    /* background: url('../../assets/images/Group\ 222.png'); */
    overflow: hidden;
}

.teampagetitle{
    font-size:32px;
    font-family: 'HelveticaNowDisplay-Bold';
    background: linear-gradient(to right, #ffffff, #999999);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teampagesubtitle{
    font-size: 24px;
    font-family: 'HelveticaNowDisplay-Regular';
    background: linear-gradient(to right, #ffffff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.teamCard{
    width:80%;
}

.teamCard img{
    width:300px;
    height:350px
}

.teamCard h3{
    font-size:24px;
    color:#FF9900;
    font-family: 'HelveticaNowDisplay-Regular';
}

.teamCard p{
    font-size:24px;
    color:white;
    font-family: 'HelveticaNowDisplay-RegIta';
}

.advisorCard{
    width:80%;
}

.advisorCard img{
    width:250px;
    height:300px;
    margin-left:15%;
}

.advisorCard h3{
    margin-left: 30%;
    font-size:24px;
    color:#FF9900;
    font-family: 'HelveticaNowDisplay-Regular';
}

.investorBox{
    background: url('../../images/Rectangle\ 130.png');
    width:1000px;
    height:400px;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.investorBox img{
    width:auto;
    height:220px;
    margin-top: 8%;
    margin-left:30px;
}

.investorBox Button{
    font-size: 16px;
    font-style:  'HelveticaNowDisplay-Bold';
    font-weight: bold;
    padding:10px;
    border:none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF9900;
    color: black;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 15%;
}

@media only screen and (max-width: 991px){
    .teamCard{
        width:100%;
    }
    .teamCard img{
        width:240px;
        height:280px
    }
    .advisorCard{
        width:100%;
        margin-bottom: 10%;
    }

    .advisorCard img{
        width: 250px;
        height: 300px;
        margin-left:0%;
    }

    .advisorCard h3{
        margin-left: 12%;
    }

    .investorBox{
        background: url('../../images/DiffBox.png');
        width:787px;
        height:386px;
        margin-left: 10px;
    }
    .investorBox img{
        width:250px;
        height:220px;
        margin-top: 60px;
        margin-left:20px;
    }
    .investorBox button{
        margin-top:2%;
        margin-left: 10%;

    }
}

@media only screen and (max-width: 768px) {
    .teamCard{
        width:100%;
    }
    .teamCard img{
        width:168px;
        height:194px;
        margin-right: 5%;
    }

    .teamCard h3{
        font-size:20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .teamCard p{
        font-size:20px;
        margin-left: 5%;
        margin-right: 5%;
    }    

    .advisorCard img{
        width: 168px;
        height: 212px;
    }

    .advisorCard{
        margin-bottom: 10%;
        margin-left: 0;
    }

    .advisorCard h3{
        margin-left:30%;
        font-size: 16px;
    }

}

@media only screen and (max-width: 710px){
    .investorBox{
        background: url('../../../public/images/diffbox2.png.png');
        width:300px;
        height:222px;
    }
    .investorBox img{
        width:80px;
        height:80px;
        margin-top: 50px;
    }
    #aximg{
        margin-left: 50px;
    }
    .investorBox button{
        font-size: 12px;
        padding:5px;
        margin-top: 10px;
    }
    #bhweb{
        margin-left: -30px;
    }

}

@media only screen and (max-width: 572px){
    .teamCard{
        width:100%;
    }
    .teamCard img{
        width:150px;
        height:175px;
        margin-right: 0%;
    }

    .teamCard h3{
        font-size:20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .teamCard p{
        font-size:20px;
        margin-left: 5%;
        margin-right: 5%;
    }    

    .advisorCard img{
        width: 150px;
        height: 200px;
        margin-left: 10%;
    }


    .advisorCard h3{
        margin-left:10%;
        font-size: 16px;
    }

    .teampagetitle{
        font-size: 28px;
    }
}

