/* @import url('../../fonts/font.css'); */

.publicationspagebackground{
    /* height:1300px; */
    width:100%;
    /* background: url('../images/Group\ 222.png'); */
    overflow: hidden;
}

.publicationsHeader{
    padding-top:10%;
    font-size: 32px;
    font-family: 'HelveticaNowDisplay-Bold';
    background: linear-gradient(to right, #ffffff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.publicationsText{
    padding-bottom:1%;
    font-size: 24px;
    font-family: 'HelveticaNowDisplay-Regular';
    color:white;
    align-items: center;
    display:flex;
    text-align: center;
}


.viewMore{
    font-size: 16px;
    font-style:  'HelveticaNowDisplay-Bold';
    font-weight: bold;
    padding:10px;
    border:none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF9900;
    color: black;
    margin-bottom: 2%;
}

.viewMore:hover{
    text-decoration: underline;
}

.newsContainer{
    width: 910px; /* Adjust the width */
    height: 800px; /* Adjust the height */
    background-image: url("../images/publications/NewsBox.png");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    border-radius: 10px; 
}

.newsContainer img{
    margin-top: 40px;
    padding-left: 10px;
    width:443px;
    height:72px;
}

.date{
    color:#FF9900;
    font-size:12px;
    font-style:'HelveticaNowDisplay-Regular';
    margin-top: 2%;
}

.newsHead{
    margin-top: 40px;
    background-image: url("../images/publications/NewsHeadBox.png");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width:426px;
    height:200px;
    cursor:pointer;
}

.newsHeader{
    font-size:16px;
    font-family: 'HelveticaNowDisplay-Bold';
    background: linear-gradient(to right, #ffffff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newsText{
    color:white;
    font-size:12px;
    font-style:'HelveticaNowDisplay-Regular';
}

@media only screen and (max-width:910px) {
    .newsContainer{
        margin-top: 5%;
        width: 773px; /* Adjust the width */
        height: 679px; /* Adjust the height */
        background-image: url("../images/publications/NewsBoxmd.png");
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        border-radius: 10px; 
    }
    .newsHead{
        background-image: url("../images/publications/NewsHeadBoxmd.png");
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        width:300px;
        height:141px;
        cursor:pointer;
        margin-bottom: 10%;
    }
    .newsContainer img{
        width:295px;
        height:48px;
    } 
    .date{
        font-size: 14px;
    }
    .newsHeader{
        font-size: 14px;
    } 
    .newsText{
        font-size:10px;
    }
}

@media only screen and (max-width:780px) {
    .newsContainer{
        margin-top: 5%;
        width: 628px; /* Adjust the width */
        height: 571px; /* Adjust the height */
        background-image: url("../images/publications/NewsBoxmd.png");
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        border-radius: 10px; 
    }
    .newsHead{
        background-image: url("../images/publications/NewsHeadBoxmd.png");
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        width:250px;
        height:118px;
        cursor:pointer;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .newsContainer img{
        width:295px;
        height:48px;
    } 
    .date{
        font-size: 13px;
    }
    .newsHeader{
        font-size: 13px;
        margin-top: -10px;
    } 
    .newsText{
        font-size:10px;
        margin-top: -10px;
    }
}

@media only screen and (max-width:550px){
    .newsHeader{
        margin-right: 10%;
    }
    .newsText{
        margin-right: 10%;
    }
} 

@media only screen and (max-width:450px){
    .newsHead{
        padding-right: 40px;
    }
    .newsHeader{
        font-size: 12px;
        margin-right: 20%;
    }
    .newsText{
        font-size: 8px;
        margin-right: 20%;
    }
} 