
.servicepagebackground{
    /* height:1200px; */
    width:100%;
    padding-top: 5%;
    /* background: url('../images/Group\ 221.png'); */
    /* overflow: hidden; */
}

.ServicesImage{
    padding-top: 20%;
    padding-left: 5%;
}

.ServicesCard{
    width: 508px;
    height: 200px;
    background: url('../images/Services/Group\ 282.png');
    border-radius: 20px;
    margin-bottom: -22px;
}

.ServicesCard h3{
    padding-top: 60px;
    padding-left: 15%;
    font-size: 24px;
    font-style:  'HelveticaNowDisplay-Regular';
    font-weight: 600;
    color: white;
}

.ServicesCard p{
    padding-left: 15%;
    font-size: 16px;
    font-style:  'HelveticaNowDisplay-Regular';
    font-weight: 300;
    color: white;
}

.BlogCard{
    width:545px;
    height:955px;
    background: url('../images/Rectangle\ 129.png');
}

.BlogCard img{
    padding-left: 10%;
    width:80%;
    border-radius: 10px;
    padding-top: 5%;
}

.BlogCardHeader{
    font-size: 32px;
    font-style:  'HelveticaNowDisplay-Bold';
    font-weight: 600;
    color: white;
    padding-top: 4.5%;
    padding-bottom:3.6%;
}

.BlogCard h2{
    font-size: 24px;
    font-style:  'HelveticaNowDisplay-Regular';
    font-weight: 600;
    color: #FF9900;
    margin-left: 10%;
    margin-top: 10%;
}

.BlogCard h3{
    font-size: 24px;
    font-style:  'HelveticaNowDisplay-Bold';
    font-weight: 600;
    color: white;
    margin-left: 10%;
    background: linear-gradient(to right, #ffffff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BlogCard p{
    padding-left: 10%;
    font-size: 16px;
    font-style:  'HelveticaNowDisplay-Regular';
    font-weight: 300;
    color: white;
}

.BlogCard button{
    font-family: 'HelveticaNowDisplay-Regular';
    font-size: 12px;
    font-weight: 400;
    padding:10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FF9900;
    color:black;
    margin-left:10%;
}

@media only screen and (max-width:554px){
    .BlogCard{
        width:400px;
        height:887px;
        background:url("../images/blogcarsm.png");
    }
    .BlogCard h2{
        padding-top: 10%;
        font-size: 18px;
        padding-left: 10%;
    }
    .BlogCard h3{
        font-size: 18px;
        padding-left: 10%;
        margin-right: 15%;
    }
    .BlogCard p{
        margin-left: 10%;
        margin-right: 15%;
    }
    .BlogCard button{
        margin-left: 20%;
    }
}

@media only screen and (max-width:480px){
    .ServicesCard{
        background: url('../images/Services/Group388.png');
        width:387px;
        height:266px;
        margin-left: 0;
    }

    .ServicesCard h3{
        font-size: 24px;
    }

    .ServicesCard p{
        font-size: 20px;
        width: 330px;
    }
}