
.testimonialspagebackground{
    /* height:100vh; */
    width:100%;
    /* background: url('/images/Group\ 221.png'); */
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Hide the overflowing cards */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.testimonialcard{
    padding-top: 10%;
    padding-left: 5%;
    width: 900px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.testimonialcard.transitioning {
    transform: scale(0.95);
    opacity: 0.8;
}

.testimonialcard img {
    width: 100%;
    height: auto;
}


.testcardtext{
    font-size: 24px;
    font-family: 'HelveticaNowDisplay-Bold';
    background: linear-gradient(to right,#FFFFFF,#999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testcardtext span{
    font-size: 20px;
}


.testcardhead{
    font-size: 24px;
    font-family: 'HelveticaNowDisplay-Bold';
    color:#FF9900;
}

.testcardhead span{
    font-size: 20px;
    font-family: 'HelveticaNowDisplay-Bold';
    color:#FF9900;
}

.slider-button {
    position: absolute;
    margin-left:80%;
    top: 220px;
    transform: translateY(-50%),translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
}

.button-image{
    width:35px;
    height:48px;
}